.one {
    background-color: red;
    height: 50px;
}

.two {
    background-color: yellow;
    height: 50px;
}

.three {
    background-color: green;
    height: 50px;
}

.container {
    justify-content: space-between;
    display: flex;
}

.image {
    height: 300px;
    width: 300px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.new1 {
    justify-content: center;
}